main {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #f5f5f5;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.user-list {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 14px 18px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.user label {
    font-size: 14px;
    color: #333;
}
.user .actions {
    display: flex;
    gap: 10px
}
.user .actions button {
    background-color: #ddd;
    color: black;
    padding: 5px 10px;
}

.header {
    justify-content: space-around;
}